.slider {
  width: 95%;
  margin: 0 auto;
  /*height: 280px;*/
}
  
.slick-slide { margin: 0 20px; }
.slick-slide img { width: 100%; }

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active { opacity: 1; }
.slick-current { opacity: 1; }


@media screen and (max-device-width: 640px) {
  .slider { display: none; }
}