body {
  margin: 0;
  font-size: 30px;
  line-height: 50px;
  font-family: Gotham Pro;
}

h1, h2, h3, h4 { font-family: Nautilus; }

h1 { font-weight: 100; }

/* First page */
.first-page {
  color: white;
  padding: 10px 10px 10px 10px;
  margin: 0;
  background-image: url('../img/bg1-2.png');
  background-size: cover;
}

.card {
  padding-top: 35px;
  text-align: center;
  font-family: Nautilus;
}

.card-head {
  /*font-family: 'Playfair Display', serif;*/
  font-family: 'Corinthia', serif;
  font-size: 100px;
  margin-top: 30px;
}

.plus {
  font-weight: 200;
  margin: 0 5px;
}

.card-date {
  margin-top: 70px;
  font-size: 46px;
}

.first-page-footer {
  background-image: url('../img/bg1-3.png');
  height: 150px;
  background-size: cover;
}

.table-wrapper {
  background-color: #f8f8f8;
  background-image: url('../img/snow.png');
  padding: 20px; 
  font-family: Nautilus;
}

table {
  color: black;
  font-size: 42px !important;
  outline: none;
  border-collapse:collapse;
  margin: 0 auto;
  text-align: center;
  font-size: inherit;
}

td { padding: 3px 8px 3px 8px; }

.colon { width: 10px; }

/* Second page */
.second-page {
  display: flex;
  flex-direction: column;
}

.first-subpage {
  background-image: url('../img/bg2.png');
  background-size: cover;
  height: 380px;
}

.second-subpage {
  background-color: #f8f8f8;
  background-image: url('../img/snow.png');
}

.pal-photos {
  width: 700px;
  align-self: center;
  position: absolute;
  z-index: 0;
}

.subpage-content {
  display: flex;
  padding: 40px 0;
  justify-content: center;
}

.person {
  width: 300px;
  margin: 0 20px;
  z-index: 1;
}

.person-desc { text-align: left; }

.desc-head {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Corinthia', serif;
  font-size: 60px;
}

.desc-desc {
  margin-top: 20px;
  font-size: 18px;
  line-height: 20px;
}

/* Fourth page */
.fourth-page {
  padding: 40px 10px;
  padding-left: 30%;
  background-image: url('../img/bg3.png');
  background-size: cover;
  color: white;
}

.invitation { text-align: center; line-height: 50px; }
.invitation-text { font-weight: bold; }
.invitation-date { font-size: 38px; }

/* Four and a half */
.rope-photos {
  background-color: #f8f8f8;
  background-image: url('../img/snow.png');
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.collage { display: none; }

/* Fifth page */
.fifth-page {
  color: white;
  padding: 30px 10px;
  padding-right: 20%;
  background-image: url('../img/bg2.png');
  background-size: cover;
}

.dress-code { text-align: center; }
.dress-code-text { font-weight: bold; }
.dress-code-content { display: flex; }
.rustic-pc { height: 350px; align-self: center; }
.rustic-mobile { display: none; }

/* Sixth page */
.sixth-page {
  background-color:#f8f8f8;
  background-image: url('../img/snow.png');
  padding: 0 10px;
  display: flex;
  justify-content: center;
  line-height: 50px;
}

.map-script-pc { display: initial; }
.map-script-mobile { display: none; }

.map-desc { margin: 70px 0 0 40px; }

@media screen and (max-device-width: 1300px) {
  .fifth-page { padding-right: 10px; }
}

@media screen and (max-device-width: 670px) {
  body {
    font-size: 24px;
    line-height: 50px;
  }

  /* First page */
  .first-page { 
    padding: 30px 0;
    line-height: 60px;
  }
  .br-pc { display: none; }
  .card { padding: 0; }
  .card-head { font-size: 84px; }
  .plus { display: block; margin-top: 15px; }
  .card-date { font-size: 30px; }
  .card-time { display: block; }
  table { font-size: 26px !important; }
  td { padding: 0; }

  /* Second page */
  .second-page { flex-direction: column; }
  .person { margin-bottom: 20px; }
  
  /* Third page */
  .photo-slider { display: none; }
  .photo-static { display: initial; }
  
  .first-photo-line, .third-photo-line {
    display: flex;
    justify-content: space-around;
  }  
  .second-photo-line {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }

  .photo {
    width: 45%;
    align-self: center;
  }

  .first-subpage { height: 330px; }
  .pal-photos { width: 100%; position: relative; margin-top: -340px; }

  .subpage-content { flex-direction: column; }

  /* Fourth page */
  .fourth-page {
    padding: 10px;
    background-image: url('../img/bg1-2.png');
    background-size: cover;
  }
  .invitation-date { font-size: 28px; }

  .rope-photos { display: none; }
  .collage {
    display: block;
    background-color:#f8f8f8;
    background-image: url('../img/snow.png');
  }

  .fifth-page { padding: 40px 2px; }
  .dress-code-content { flex-direction: column; }
  .rustic-pc { display: none; }
  .rustic-mobile {
    display: initial;
    height: 300px;
  }

  /* Sixth page */
  .sixth-page { 
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .map-script-pc { display: none; }
  .map-script-mobile { 
    display: initial;
    align-self: center;
    margin: 0 auto;
  }
  .map-desc { margin: 20px 10px 0 10px; text-align: center; }
}
