body {
  margin: 0;
  font-size: 30px;
  line-height: 70px;
  font-family: Gotham Pro;
}

h1, h2, h3, h4 { font-family: Nautilus; }

/* First page */
.first-page {
  color: white;
  padding: 20px 10px 40px 10px;
  margin: 0;
  background-image: url('../img/images/wall-blur.jpg');
  background-size: cover;
}

.card {
  padding-top: 35px;
  text-align: center;
  font-family: Nautilus;
}

.card-head {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  margin-top: 30px;
}

.and { color: crimson; }

.card-date {
  margin-top: 70px;
  font-size: 46px;
}

table {
  color: white;
  font-size: 42px !important;
  outline: none;
  border-collapse:collapse;
  margin: 60px auto 0 auto;
  text-align: center;
  font-size: inherit;
}

td { padding: 3px 8px 3px 8px; }

.colon { width: 10px; }

/* Second page */
.second-page {
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.person {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 300px;
  margin: 40px;
}

.round-photo {
  align-self: center;
}

.person-desc { text-align: center; }

.desc-head { font-size: 36px; font-family: Nautilus; }

.desc-desc {
  margin-top: 20px;
  font-size: 18px;
  line-height: 20px;
}

/* Third page */
.third-page {
  padding: 20px 10px;
  background-color: white
}

.photo-slider { display: flex; }
.photo-static { display: none; }

.slider {
  width: 100%;
  align-self: center;
}

/* Fourth page */
.fourth-page {
  padding: 40px 10px 20px 10px;
  background-image: url('../img/images/card-bg-pc-2.png');
  background-size: cover;
}

.invitation { text-align: center; }
.invitation-text { font-weight: bold; }
.invitation-date { font-size: 38px; }

/* Fifth page */
.fifth-page {
  color: white;
  background-color:gainsboro;
  padding: 20px 10px;
  background-image: url('../img/images/socks-new.png');
  background-size: cover;
}

.dress-code { text-align: center; }
.dress-code-text { font-weight: bold; }

/* Sixth page */
.sixth-page {
  background-color:#f8f8f8;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  line-height: 50px;
}

.map-script-pc { display: initial; }
.map-script-mobile { display: none; }

.map-desc { margin: 70px 0 0 40px; }


@media screen and (max-device-width: 670px) {
  body {
    font-size: 24px;
    line-height: 60px;
  }

  /* First page */
  .first-page { padding: 30px 0; }
  .br-pc { display: none; }
  .card { padding: 0; }
  .card-head { font-size: 64px; }
  .and { display: block; }
  .card-date { font-size: 30px; }
  .card-time { display: block; }
  table { font-size: 26px !important; }

  /* Second page */
  .second-page { flex-direction: column; }
  .person { width: 100%; margin-bottom: 20px; }
  
  /* Third page */
  .photo-slider { display: none; }
  .photo-static { display: initial; }
  
  .first-photo-line, .third-photo-line {
    display: flex;
    justify-content: space-around;
  }  
  .second-photo-line {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }

  .photo {
    width: 45%;
    align-self: center;
  }

  /* Fourth page */
  .fourth-page {
    padding: 20px;
    background-image: url('../img/images/card-bg-mob.png');
    background-size: cover;
  }
  .invitation-date { font-size: 28px; }

  /* Sixth page */
  .sixth-page { 
    flex-direction: column;
    padding: 0;
  }
  .map-script-pc { display: none; }
  .map-script-mobile { 
    display: initial;
    margin: 0 auto;
  }
  .map-desc { margin: 20px 10px 0 10px; text-align: center; }
}
